services:
  server:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    restart: always
    env_file:
      - .env
